@use "pages/abstracts/variables.scss";
@use "pages/page/header.scss";
@use "pages/page/page.scss";
@use "pages/page/navbar.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
