@use "pages/abstracts/variables.scss";
@use "pages/page/header.scss";
@use "pages/page/page.scss";
@use "pages/page/navbar.scss";
@use "pages/page/cardhome.scss";
@use "pages/page/navbaradmin.scss";
@use "pages/page/imghomeadmin.scss";
@use "pages/page/imagehome.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.border-bottom {
  margin: 100px auto;
  height: 2px;
  background-color: variables.$text-color-dark;
  width: 50%;
}

.admin-page-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
}
