@use "../abstracts/variables";

.section-admin {
  width: 80%;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.section-imghomeadmin {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  height: 100vh;
  margin: 0 auto;
  max-width: 80%;
}

.imghomeadmin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  position: relative;
}

.imgadmin-content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
/* Cache le bouton natif de fichier */
.button-admin {
  display: none;
}

/* Style du label qui sert de bouton personnalisé */
.custom-file-upload,
.button-upload {
  display: inline-block;
  padding: 10px 10px;
  background-color: variables.$primary-color;
  color: white;
  border: solid 2px variables.$secondary-color;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.5s ease;
  margin: 10px 0;
  font-family: variables.$font-family-title;
  color: variables.$text-color-main;
}

.custom-file-upload:hover,
.button-upload:hover {
  background-color: variables.$secondary-color;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.img-admin-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  .img-preview {
    width: 150px;
    height: 266px;
    object-fit: cover;
    border: solid 1px variables.$secondary-color;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

.img-text-download {
  font-size: 1.5rem;
  font-family: variables.$font-family-title;
  color: variables.$secondary-color;
  margin-bottom: 30px;
  text-align: center;
}

.button-admin-delete {
  position: absolute;
  top: 5px;
  right: 5px;
  background: red;
  color: white;
  border: none;
  padding: 4px;
  border-radius: 50%;
  cursor: pointer;
}
.imgadmin-upload {
  width: 150px;
  height: 266px;
  object-fit: cover;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.2);
}
.confirmation-modal {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-family: variables.$font-family-title;
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.confirmation-modal button {
  margin: 10px;
  padding: 10px 20px;
  background-color: variables.$primary-color;
  color: white;
  border: none;
  cursor: pointer;
  color: variables.$text-color-main;
}

.confirmation-modal button:hover {
  background-color: variables.$secondary-color;
}
