@use "../abstracts/variables";

.content {
  background: variables.$primary-background-color;
  padding: 100px 50px;
  .text-home {
    color: variables.$text-color-main;
    font-family: variables.$font-family-title;
    font-size: 1.3em;
    line-height: 1.4em;
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
  .img-logo {
    border: solid 3px variables.$primary-color;
    border-radius: 50%;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

.img-text-content {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2em;
  gap: 2em;
  .img-home {
    width: 400px;
    height: auto;
    border-radius: 5%;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  p {
    max-width: 600px;
    text-align: center;
    color: variables.$text-color-main;
  }
}

.img-presentation-container {
  display: flex;
  justify-content: center;
  background-color: variables.$primary-color;
  width: 35%;
  padding: 20px 0;
  margin: 0 auto;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.2);
}

.img-presentation {
  width: 80%;
  height: auto;
  // object-fit: cover;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.2);
}
// Media querry < 1360
@media only screen and (max-width: 1360px) {
  .img-text-content {
    flex-direction: column;
  }
}

// Media querry < 550
@media only screen and (max-width: 550px) {
  .img-text-content {
    .img-home {
      width: 250px;
    }
  }
}
