@use "../abstracts/variables";

.content {
  background: variables.$primary-background-color;
  padding: 100px 50px;
  p {
    color: variables.$text-color-main;
    font-family: variables.$font-family-title;
    font-size: 1.4em;
    margin-bottom: 50px;
  }
}
.logo-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
  .img-logo {
    border: solid 3px variables.$primary-color;
    border-radius: 50%;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}
.img-text-content {
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: variables.$primary-color;
  border-radius: 2em;
  gap: 2em;
  .img-home {
    width: 400px;
    height: auto;
    border-radius: 5%;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  p {
    max-width: 600px;
    text-align: center;
    color: variables.$text-color-main;
  }
}

.bouncy {
  animation: slide 3s infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes slide {
  0% {
    transform: translate(0, 0px);
    animation-timing-function: cubic-bezier(0.19, 0.28, 0.27, 1);
  }
  11% {
    transform: translate(0, -25px) scaleX(0.8);
    animation-timing-function: cubic-bezier(0.57, 0.01, 0.84, 0.5);
  }
  20% {
    transform: translate(0, 0px) scaleY(0.8);
    animation-timing-function: cubic-bezier(0.19, 0.28, 0.27, 1);
  }
  28% {
    transform: translate(0, -10px);
    animation-timing-function: cubic-bezier(0.57, 0.01, 0.84, 0.5);
  }
  36% {
    transform: translate(0, 0px);
    animation-timing-function: cubic-bezier(0.19, 0.28, 0.27, 1);
  }
  100% {
    transform: translate(0, 0px);
    animation-timing-function: cubic-bezier(0.19, 0.28, 0.27, 1);
  }
}
